.container {
    height: 1080px;
    padding-right: 140px;
    padding-left: 140px;
    padding-top: 30px;
}

.columns {
    height: 100%;
}

.flex {
    display: flex;
}


.nav-bar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;

}

.nav-title {
    color: white;
    font-weight: 100;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-links {
    display: inline-flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 300px;
    padding-right: 250px;
    

}

a {
    color: white;
    text-decoration: none;
}


.btn {
    background-color: rgb(146, 81, 207);
    color: white;
    width: 80px;
    height: 25px;
    display: inline-flex;
    box-shadow: 1px 1px white;
    align-items: center;
    justify-content: space-evenly;

}

.col-2 {
    flex: 2;
    height: 100%;
}

.Profile {
    background-color: white;
    height: 350px;
    border: 3px solid rgb(146, 81, 207);
    align-items: center;
    display: inline-block;
    margin-right: 25px;
}

.Header {
    height: 100px;
    width: 100%;  
    display: flex;
    background-color: rgb(146, 81, 207);
}

img.user {
    height: 100px;
    width: 100px;  
    display: flex;
    padding-left: 25px;
    padding-top: 50px;
}

img.gear {
    height: 15px;
    width: auto;
    display: inline-block;

}

img.map {
    height: 15px;
    width: auto;
    display: inline-block;
}

.Bio {
    align-items: center;
    padding-left: 25px;
    padding-top: 50px;
    

}

h5 {
    display: inline-block;
    margin: 8px;
}

p {
    display: inline-block;
    color: blue;
    text-decoration-line: underline;
}

.Education {
    background-color: white;
    height: 200px;
    border: 3px solid rgb(146, 81, 207);
    display: inline-block;
    margin-top: 40px;
    
}

.Header2 {
    height: 50px;  
    width: 100%;
    display: flex;
    background-color: grey;
}


h4 {
    color: rgb(99, 96, 96);
    padding-left: 25px;
}

h3 {
    padding-left: 25px;
    padding-right: 25px;
}

.col-1 {
    flex: 1;
    height: 100%;
}

.Requests {
    background-color: white;
    height: 220px;
    border: 3px solid rgb(146, 81, 207);
    align-items: center;
    display: inline-block;
    justify-content: space-evenly;
}

.ConnectionRequests {
    height: 60px;  
    width: 100%;
    display: inline-block;
    background-color: grey;
}

img.friend1 {
    height: 30px;
    width: 30px;  
    display: inline-block;
    padding-left: 15px;
    padding-top: 25px;
    padding-right: 15px;
    align-content: center;
}

img.friend2 {
    height: 30px;
    width: 30px;  
    display: inline-block;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 32px;
}

img.no {
    height: 30px;
    width: 30px;  
    display: flex;
    display: inline-block;
    padding-right: 25px;
}

img.yes {
    height: 30px;
    width: 30px;  
    display: flex;
    display: inline-block;
    padding-left: 15px;
}

h2 {
    display: inline-block;
}

.Connections {
    background-color: white;
    height: 380px;
    border: 3px solid rgb(146, 81, 207);
    align-items: center;
    display: inline-block;
    margin-top: 40px;
}

.YourConnections {
    height: 60px;  
    width: 100%;
    display: inline-block;
    background-color: grey;
    
}

img.friend3 {
    height: 30px;
    width: 30px;  
    display: inline-block;
    padding-left: 15px;
    padding-top: 25px;
    padding-right: 19px;
    align-content: center;
}

img.friend4 {
    height: 30px;
    width: 30px;  
    display: inline-block;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 23px;
}

img.friend5 {
    height: 30px;
    width: 30px;  
    display: inline-block;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 26px;
}

img.friend6 {
    height: 30px;
    width: 30px;  
    display: inline-block;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 5px;
}

.ViewMore {
    height: 35px;  
    width: 100%;
    display: inline-block;
    background-color: white;
    border: 3px solid rgb(146, 81, 207);
}

p1 {
    display: inline-block;
    color: blue;
    text-decoration-line: underline;
    padding-left: 10px;
    padding-top: 10px;
}